<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <!--<system.data>
    <DbProviderFactories>
      <add name="Oracle Data Provider for .NET Version 11.2.0.2.1" invariant="Oracle.DataAccess.Client Version 11.2.0.2.1" description="Oracle Data Provider for .NET Version 11.2.0.2.1" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=2.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>-->
  <oracle.dataaccess.client>
    <settings>
      <add name="DllPath" value="C:\HeliosII\Dll\oracle" />
      <add name="FetchSize" value="65536" />
      <add name="PromotableTransaction" value="promotable" />
      <add name="StatementCacheSize" value="50" />
      <add name="TraceLevel" value="0" />
    </settings>
  </oracle.dataaccess.client>
  <appSettings configSource="Base.config" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  
  
</configuration>